body {
	background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    color: #666;
	font-family: sans-serif;
	margin: 0;
	padding: 20px;
	text-align: center;
}

h1 {
	color: rgb(100 100 100 / 20%);
	font-size: 18pt;
	text-align: center;
	display: inline-block;
	padding: 3px 11px;
	background-color: #101010;
	border-color: #222;
    border-radius: 4px;
}

h2 {
	font-size: 24pt;
	text-align: center;
	display: inline-block;
	padding: 3px 11px;
    border-radius: 4px;
}

a {
	border-bottom: 1px dashed;
	font-weight: bold;
	text-decoration: none;
}

h1 a {
	border-color: rgb(100 100 100 / 10%);
	color: rgb(100 100 100 / 20%);
}

h1 a:hover {
	border-color: rgb(100 100 100 / 80%);
	color: rgb(100 100 100 / 50%);
	text-shadow: 1px 1px 10px rgb(100 100 100 / 30%);
}

.full {
	width: 100%;
}

.full td {
	padding: 20px;
	text-align: center;
	width: 50%;
}

#rik h2 {
	color: rgb(0 180 0 / 30%);
	background-color: #030;
	border-color: #030;
}

#rik a {
	border-color: rgb(0 180 0 / 10%);
	color: rgb(0 180 0 / 30%);
}

#tim h2 {
	color: rgb(200 0 0 / 30%);
	background-color: #400;
	border-color: #400;
}

#tim a {
	border-color: rgb(200 0 0 / 10%);
	color:rgb(200 0 0 / 30%);
}

div#footer {
	background-color: rgb(255 255 255 / 5%);
	bottom: 10px;
	color: rgb(255 255 255 / 15%);
	font-size: small;
	padding: 7px;
	position: absolute;
	right: 10px;
	text-align: left;
}

div#footer a {
	color: rgb(255 255 255 / 20%);
    text-decoration: none;
}

#rik a:hover {
	border-color: rgb(0 180 0 / 80%);
	color: rgb(0 180 0 / 50%);
	text-shadow: 1px 1px 10px rgb(0 180 0 / 30%);
}

#tim a:hover {
	border-color: rgb(200 0 0 / 80%);
	color: rgb(200 0 0 / 50%);
	text-shadow: 1px 1px 10px rgb(200 0 0 / 30%);
}

div#footer a:hover {
	color: rgb(255 255 255 / 35%);
    text-decoration: underline;
}
